*_Qt_SDK_*

*.pro.user*
*~
*.autosave

*.dot
*.png
*.mcr
*.prf

*.gch

test/test_mc
test/heap_test

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
